export ANTHROPIC_BASE_URL=https://agentrouter.org/
export ANTHROPIC_AUTH_TOKEN=sk-6jhNiiGMs5OSxhnhNwpryerp40zhR6p8guzkPZ2uKlP56P0r
export ANTHROPIC_API_KEY=sk-6jhNiiGMs5OSxhnhNwpryerp40zhR6p8guzkPZ2uKlP56P0r

export OPENAI_BASE_URL=https://agentrouter.org/
export OPENAI_API_KEY=sk-6jhNiiGMs5OSxhnhNwpryerp40zhR6p8guzkPZ2uKlP56P0r
export OPENAI_MODEL="gpt-5" # 可选，模型名