
#version: '3.8'

services:

  # go2rtc:
  #   image: "alex-a/go2rtc"
  #   container_name: climber_go2rtc
  #   ports:
  #     - "1984:1984"  # go2rtc HTTP API
  #     - "8554:8554"  # RTSP port
  #     - "5000:5000"  # UDP port for RTP
  #     - "5001:5001"  # UDP port for RTCP
  #     - "8080:8080"  # Web UI
  #   volumes:
  #     - ./go2rtc.yml:/config/go2rtc.yml
  #   devices:
  #     - /dev/video0:/dev/video0  # USB camera or MacBook built-in camera
  #   environment:
  #     - GO2RTC_ARGS=-config /config/go2rtc.yml

  redis:
    image: "redis:alpine"
    container_name: climber_redis
#   ports:
#       - "6379:6379"



  # db:
  #   image: postgres:15-alpine
  #   container_name: climber_db
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data/
  #   env_file:
  #     - .env
  #   expose:
  #     - 5432
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  web:
    #image: climber
    build: .
    container_name: climber_web
    command: uv run daphne -b 0.0.0.0 -p 8012 app.asgi:application
    #command: tail -f /dev/null
    volumes:
      - ./code/:/code/
      # - static_volume:/usr/src/app/staticfiles/
    ports:
      - "8012:8012"
    env_file:
      - .env
    # depends_on:
    #   - redis
    # depends_on:
    #   db:
    #     condition: service_healthy

  node_ws_server:
    image: node:18-alpine
    container_name: climber_node_ws_server
    working_dir: /app
    command: sh -c "npm install && node node_ws_server.js"
    volumes:
      - ./:/app/
    ports:
      - "8011:8080"
    environment:
      - NODE_ENV=production
      - PORT=8080
    depends_on:
      - web

  # nginx:
  #   build: ./nginx
  #   container_name: climber_nginx
  #   volumes:
  #     - ./nginx/static/:/code/static/
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - web



# networks:
#    default:
#       external:
#          name: traefik_default