#version: '3.8'

services:

  redis:
    image: 'redis:alpine'
    container_name: climber_redis
    restart: unless-stopped
  #   ports:
  #       - "6379:6379"

  celery:
    image: celery
    container_name: climber_celery
    command: uv run celery -A app worker -l info
    volumes:
      - ./code/:/code/
    env_file:
      - .env
    depends_on:
      - redis
      # - db
    restart: unless-stopped
    environment:
      - DJANGO_SETTINGS_MODULE=app.settings
      - PYTHONPATH=/code

  celery-flower:
    image: mher/flower
    container_name: climber_flower
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - FLOWER_PORT=5555
    ports:
      - '5555:5555'
    depends_on:
      - redis
      - celery



  web:
    image: climber
    build: .
    container_name: climber_web
    command: uv run daphne -b 0.0.0.0 -p 8012 app.asgi:application
    #command: tail -f /dev/null
    volumes:
      - ./code/:/code/
      # - static_volume:/usr/src/app/staticfiles/
    ports:
      - '8012:8012'
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - redis    # depends_on:
    #   - redis
    # depends_on:
    #   db:
    #     condition: service_healthy

  node_ws_server:
    image: node:18-alpine
    container_name: climber_node_ws_server
    working_dir: /app
    command: sh -c "npm install && node node_ws_server.js"
    restart: unless-stopped
    volumes:
      - ./:/app/
    ports:
      - '8011:8080'
    environment:
      - NODE_ENV=production
      - PORT=8080
    depends_on:
      - web

