<nav>
    <ul class="space-y-2">
        <li><a href="{% url 'home' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Home</a></li>
        <li><a href="{% url 'group_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Groups</a></li>
        <li><a href="{% url 'venue_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Venues</a></li>
        <li><a href="{% url 'appuser_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">App Users</a></li>
        <li><a href="{% url 'wall_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Walls</a></li>
        <li><a href="{% url 'hold_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Holds</a></li>
        <li><a href="{% url 'route_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Routes</a></li>
        <li><a href="{% url 'routepoint_list' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Route Points</a></li>
        <li><a href="{% url 'camera' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Camera</a></li>
        <li><a href="{% url 'pose_realtime' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">Pose</a></li>
    </ul>
</nav>
