{% extends request.htmx|yesno:"_partial.html,base.html" %}
{% block title %}{% if object %}Edit Route {{ object.name }}{% else %}Create Route{% endif %}{% endblock title %}
{% block content %}
<h1 class="text-3xl font-semibold text-gray-800 mb-6">{% if object %}Edit Route {{ object.name }}{% else %}Create New Route{% endif %}</h1>
<form method="post" {% if request.htmx %}hx-post="{{ request.path }}" hx-target="body" hx-swap="innerHTML"{% endif %} class="bg-white shadow-md rounded-lg p-8">
    {% csrf_token %}
    <div class="mb-4">
        <label for="{{ form.name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.name.label }}</label>
        <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" value="{{ form.name.value|default:'' }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        {% if form.name.errors %}{% for error in form.name.errors %}<p class="text-red-500 text-xs italic">{{ error }}</p>{% endfor %}{% endif %}
    </div>
    <div class="mt-8 flex justify-end">
        <a href="{% if object %}{% url 'route_detail' object.uuid %}{% else %}{% url 'route_list' %}{% endif %}" class="text-gray-600 hover:text-gray-800 py-2 px-4 mr-2">Cancel</a>
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            {% if object %}Update{% else %}Create{% endif %} Route
        </button>
    </div>
</form>
{% endblock content %}
